/** memo: https://creatorclip.info/2015/07/material-design-lite/ */
h2{
  text-align: center;
  font-weight: 600;
}

table{ border-spacing: 7px; }

td {
  background-color: aqua;
  border: solid green 1px;
  padding: 8px;
  font-family: 'Work Sans', sans-serif;
  border-radius: 2rem;
}

.mdl-layout__header-row a.mdl-navigation__link {
  color: #333;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #333;
}

.worksuns{font-family: 'Work Sans', sans-serif;}

div#waku
{
  width: 42rem;
  height:auto;
  font-size:2rem;
  overflow:auto;
  line-height: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

div#time, div#validity, div#correct-answer-rate
{
  text-align: center;
  font-size:1.5rem;
  line-height: 1.5;
}

.initialize-btn{
  text-align: center;
}