/** memo: https://creatorclip.info/2015/07/material-design-lite/ */

table { width: 100%; }

#table1 { border-spacing: 7px; }

#table1 td {
  border: solid gray 1px;
  padding: 8px;
  border-radius: 2rem;
}

.mdl-layout__header-row a.mdl-navigation__link {
  color: #333;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #333;
}

div#waku
{
  width: 42rem;
  height:auto;
  font-size:2rem;
  overflow:auto;
  line-height: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

div#time, div#validity, div#accuracy
{
  text-align: center;
  font-size:1.5rem;
  line-height: 1.5;
}

.initialize-btn{
  text-align: center;
}

#records{
  margin: 1.5rem 0;
}